{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}

    <div class="container">
      <div class="content">
        
        <h3>Welcome {{ user }}</h3><br>
        
        <table cellpadding=10 cellspacing=10>
         
        {% if user.email %} 
        <tr>
          <td width=125><b>Email:</b></td>
          <td>{{ user.email }}</td>
        </tr>
        {% endif %}

        <tr>
          <td valign="middle" width=125><b>API Key:</b></td>
          <td>
            {{ user.api_key.key }}
          </td>
        </tr>
        
        </table>
        <br>
        
        {% if user.is_staff %}
        <br>
        <a class="btn btn-info" href="{% url admin:index %}">
          <i class="icon-home icon-white"></i> Admin Page
       </a>
        {% endif %}
        
        {% if user.api_key %}
            <a class="btn btn-warning" href="{% url generate_api_key_view %}">
                <i class="icon-road icon-white"></i> Regenerate API Key
            </a>
        {% else %}
            <a class="btn btn-success" href="{% url generate_api_key_view %}">
                <i class="icon-road icon-white"></i> Generate API Key
            </a>
        {% endif %}
        

       </div>
    </div>

{% include 'beerblog/foot.html' %}