{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}
{% load tools %}

<div class="container">
    <div class="content">

        <p class=script-header>{{ beer.name }}</p>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>Reviewed</b></p>
            </div>
            <div class="span6">{{ beer.created }}</div>
        </div>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>Rating</b></p>
            </div>
            <div class="span6">{{ beer.rating }}</div>
        </div>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>Brewery</b></p>
            </div>
            <div class="span6"><a href="{% url beers %}?brewery={{ beer.brewery.id }}">{{ beer.brewery.name }}</a></div>
        </div>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>Type</b></p>
            </div>
            <div class="span6"><a href="{% url beers %}?beer_type={{ beer.beer_type.id }}">{{ beer.beer_type.name }}</a></div>
        </div>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>ABV</b></p>
            </div>
            <div class="span6">{{ beer.alcohol_by_volume }}%</div>
        </div>
        <hr>

        {% if beer.comments %}
            <div class="row">
                <div class="span4">
                    <p><b>Comments</b></p>
                </div>
                <div class="span6">{{ beer.comments }}</div>
            </div>
            <hr>
        {% endif %}

        <div class="row">

           <div class="span4">
                {% if beer.image %}
                    <img class="hidden-phone" src='{{ beer.image.url_600x800 }}' />
                    <img class="visible-phone" src='{{ beer.image.url_200x200 }}' />
                {% else %}
                    <img class="hidden-phone" src='/static/images/blank_beer.jpeg' />
                {% endif %}
                <hr>
           </div>

            <div class="span6">
                <p><b>Appearance: {{ beer.appearance_score }}</b></p>
                <p>{{ beer.appearance }}</p><hr>

                <p><b>Smell: {{ beer.smell_score }}</b></p>
                <p>{{ beer.smell }}</p><hr>

                <p><b>Taste: {{ beer.taste_score }}</b></p>
                <p>{{ beer.taste }}</p><hr>

                <p><b>Mouthfeel: {{ beer.mouthfeel_score }}</b></p>
                <p>{{ beer.mouthfeel }}</p><hr>

                <p><b>Overall: {{ beer.overall_score }}</b></p>
                <p>{{ beer.overall }}</p>
            </div>

        </div>

    
    </div>
</div>

{% include 'beerblog/foot.html' %}