<div id="modal{{ beer.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ beer.name }}</h3>
  </div>
  <div class="modal-body">
    <p><b>Brewery:</b> {{ beer.brewery }}</p>
    <p><b>Beer Type:</b> {{ beer.beer_type }}</p>
    <p><b>ABV:</b> {{ beer.alcohol_by_volume }}%</p>

    {% if comments %}
        <p><b>Comments:</b></p>
        <p>{{ beer.comments }}</p>
    {% endif %}

    <img style='height: 300px;' src='/static/{{ beer.image }}' />

    <hr>

    <p><b>Appearance:</b> {{ beer.appearance_score }}</p>
    <p>{{ beer.appearance }}</p><br>

    <p><b>Smell:</b> {{ beer.smell_score }}</p>
    <p>{{ beer.smell }}</p><br>

    <p><b>Taste:</b> {{ beer.taste_score }}</p>
    <p>{{ beer.taste }}</p><br>

    <p><b>Mouthfeel:</b> {{ beer.mouthfeel_score }}</p>
    <p>{{ beer.mouthfeel }}</p><br>

      <p><b>Overall:</b> {{ beer.overall_score }}</p>
    <p>{{ beer.overall }}</p><br>

  </div>
</div>