{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}

<div class="container">
    <div class="content">

        {% for beer_type in beer_types %}

            <p><a href='{% url beers %}?beer_type={{ beer_type.id }}'>{{ beer_type }}</a></p>

        {% endfor %}

    <p class=pull-left>
        {% if style.has_previous %}
            <a href='.?page={{ style.previous_page_number }}'><i class=icon-arrow-left></i></a>
        {% endif %}
    </p>

    <p class=pull-right>
        {% if style.has_next %}
            <a href='.?page={{ style.next_page_number }}'><i class=icon-arrow-right></i></a>
        {% endif %}
    </p>

    </div>
</div>

{% include 'beerblog/foot.html' %}