{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}
{% load tools %}

<div class="container">
    <div class="content">

        <p class=script-header>Beers</p>

        <table class="table table-striped">
        <tr>
            <td><b>Name</b></td>
            <td class="hidden-phone"><b>Brewery</b></td>
            <td class="hidden-phone"><b>Type</b></td>
            <td class="hidden-phone"><b>ABV</b></td>
            <td class="hidden-phone"><b>Rating</b></td>
        </tr>

        {% for beer in beers %}

            <tr>
                <td><a href="#beer_modal{{ beer.id }}" data-toggle="modal">{{ beer.name }}</a></td>
                <td class="hidden-phone">{{ beer.brewery }}</td>
                <td class="hidden-phone">{{ beer.beer_type }}</td>
                <td class="hidden-phone">{{ beer.alcohol_by_volume }}%</td>
                <td class="hidden-phone">{{ beer.overall_score }}</td>
            </tr>

            {% include 'beerblog/beer_modal.html' %}

        {% endfor %}

        </table>

    <p class=pull-left>
        {% if beers.has_previous %}
            <a href='.?page={{ beers.previous_page_number }}{{ request|getNonPageArgs }}'><i class=icon-arrow-left></i></a>
        {% endif %}
    </p>

    <p class=pull-right>
        {% if beers.has_next %}
            <a href='.?page={{ beers.next_page_number }}{{ request|getNonPageArgs }}'><i class=icon-arrow-right></i></a>
        {% endif %}
    </p>
    
    </div>
</div>

{% include 'beerblog/foot.html' %}