{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}
{% load tools %}

<div class="container">
    <div class="content">

        <h2 class="visible-phone script-font">Welcome to Nessy's Tavern</h2>

        <div id="myCarousel" class="carousel slide">

            <div class="carousel-inner">

              <div class="item active">
                <img src="/static/images/tavern1.jpg" alt="">
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

              <div class="item">
                <img src="/static/images/tavern2.jpg" alt="">
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

              <div class="item">
                <img src="/static/images/tavern3.jpg" alt="">
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>

        <div class="row">
            <div class="span5 bubble"><h3 class=script-font>About The Bar:</h3>

            <p>
            Nessy's Tavern was constructed in 2010. A
            project designed to pass some time, a mere two
            weeks later the Tavern was completed.
            </p>

            <p>
            The bar comes equipped with a nine holding wine rack, and
            shelving for glassware.
            A keg-o-rator added to the mix, and we had a fully functional bar.
            </p>

            <p>
            The design and build process is documented via photograph
            <a target='_blank' href='http://flip-edesign.com/Bar/'>here</a>.
            </p>
            </div>

            <div class="span2 bubble"><h3 class="script-font">New Beers:</h3>
                {% for beer in latest_beers %}
                    <p><i class="icon-glass"></i><a href="#modal{{ beer.id }}" data-toggle="modal"> {{ beer.name }}</a></p>

                     {% include 'beerblog/beer_modal.html' %}
                {% endfor %}
            </div>

            <div class="span2 bubble"><h3 class=script-font>New Wines:</h3>
                {% for wine in latest_wines %}
                    <p><i class="icon-glass"></i> {{ wine.name }}</p>
                {% endfor %}
            </div>

        </div>

    </div>
</div>

{% include 'beerblog/foot.html' %}