{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}
{% load tools %}

<div class="container">
    <div class="content">

        <p class="hidden-phone script-header">Welcome To Nessy's Tavern</p>
        <p class="visible-phone script-font">Welcome To Nessy's Tavern</p>

        <center>
            <img src='/static/images/tavern.jpg' />
        </center>

        <div class="row">
            <div class="span5 bubble"><h3 class=script-font>About The Bar:</h3>

            <p>
            Nessy's Tavern was constructed in 2010. A
            project designed to pass some time, a mere two
            weeks later the Tavern was completed.
            </p>

            <p>
            The bar comes equipped with a nine holding wine rack, and
            shelving for glassware.
            A keg-o-rator added to the mix, and we had a fully functional bar.
            </p>

            <p>
            The design and build process is documented via photograph
            <a target='_blank' href='http://flip-edesign.com/Bar/'>here</a>.
            </p>
            </div>

            <div class="span2 bubble"><h3 class="script-font">New Beers:</h3>
                {% for beer in latest_beers %}
                    <p><i class="icon-glass"></i> {{ beer.name }}</p>
                {% endfor %}
            </div>

            <div class="span2 bubble"><h3 class=script-font>New Wines:</h3>
                {% for wine in latest_wines %}
                    <p><i class="icon-glass"></i> {{ wine.name }}</p>
                {% endfor %}
            </div>

        </div>

    </div>
</div>

{% include 'beerblog/foot.html' %}