{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}

{% load url from future %}
{% load tools %}


<div class="container">
    <div class="content">

        <h2 class="visible-phone script-font">Welcome to Nessy's Tavern</h2>

        <div id="myCarousel" class="carousel slide">

            <div class="carousel-inner">

              <div class="item active">
				<center>
                <img src="{{ STATIC_URL }}images/tavern0.jpg" alt="">
				</center>
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

              <div class="item">
				<center>
                <img src="{{ STATIC_URL }}images/tavern1.jpg" alt="">
				</center>
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

              <div class="item">
				<center>
                <img src="{{ STATIC_URL }}images/tavern3.jpg" alt="">
				</center>
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

              <div class="item">
				<center>
                <img src="{{ STATIC_URL }}images/tavern4.jpg" alt="">
				</center>
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

              <div class="item">
				<center>
                <img src="{{ STATIC_URL }}images/tavern5.jpg" alt="">
				</center>
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

              <div class="item">
				<center>
                <img src="{{ STATIC_URL }}images/tavern6.jpg" alt="">
				</center>
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

              <div class="item">
				<center>
                <img src="{{ STATIC_URL }}images/tavern7.jpg" alt="">
				</center>
                <div class="hidden-phone carousel-caption">
                  <h4 class=script-header>Welcome to Nessy's Tavern</h4>
                    <p>Established in 2010</p>
                </div>
              </div>

            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>

        <div class="row">
            <div class="span5 bubble"><h3 class=script-font>About The Bar:</h3>

            <p>
            Nessy's Tavern was constructed in 2010. A
            project designed to pass some time, a mere two
            weeks later the Tavern was completed.
            </p>

            <p>
            The bar comes equipped with a nine holding wine rack, and
            shelving for glassware.
            A keg-o-rator added to the mix, and we had a fully functional bar.
            </p>

            <p>
            The design and build process is documented via photograph
            <a target='_blank' href='http://flip-edesign.com/Bar/'>here</a>.
            </p>
            </div>

            <div class="span4 bubble"><h3 class="script-font">New Beers:</h3>
                {% for beer in latest_beers %}
                    <p><i class="icon-glass"></i> <a href="{% url "beer" beer.slug %}">{{ beer.name }}</a></p>
                {% endfor %}
            </div>

        </div>

    </div>
</div>

{% include 'beerblog/foot.html' %}
