<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
  
        <div class="container">
          <a class="brand" href='{% url beers %}'>
          {{ settings.TITLE }}</a>
        </div>

    <div class="navbar-inner" style='background-color: #EEE;'>
        <div class="container">
          <ul class="nav">

              <li {% if view == 'Beers' %}class="active"{% endif %}><a href="{% url beers %}">Blog</a></li>
              <li {% if view == 'Breweries' %}class="active"{% endif %}><a href="{% url breweries %}">Breweries</a></li>
              <li {% if view == 'Beer Types' %}class="active"{% endif %}><a href="{% url beer_types %}">Beer Types</a></li>

          </ul>
        </div>
    </div>

    </div>
</div>