{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}

{% load url from future %}
{% load tools %}

<div class="container">
    <div class="content">

        <p class=script-header>Search</p>

        <form class='visible-phone' name="input" action="/search/" class="form-search" method="GET">
            <input class="span4" type="text" placeholder="Search" name="s" value="{{ search_term }}"></li>
        </form>

         {% if beers %}
            <p class=script-font>Beers</p>
            <table class="table table-striped">
            <tr>
                <td><b>Name</b></td>
                <td class="hidden-phone"><b>Brewery</b></td>
                <td class="hidden-phone"><b>Type</b></td>
                <td class="hidden-phone"><b>ABV</b></td>
                <td class="hidden-phone"><b>Rating</b></td>
            </tr>
            {% for beer in beers %}
                <tr>
                    <td><a href="{% url "beer" beer.slug %}">{{ beer.name }}</a></td>
                    <td class="hidden-phone"><a href="{% url "beers" %}?brewery={{ beer.brewery.id }}">{{ beer.brewery.name }}</a></td>
                    <td class="hidden-phone"><a href="{% url "beers" %}?beer_type={{ beer.beer_type.id }}">{{ beer.beer_type.name }}</a></td>
                    <td class="hidden-phone">{{ beer.alcohol_by_volume }}%</td>
                    <td class="hidden-phone">{{ beer.overall_score }}</td>
                </tr>
            {% endfor %}
            </table>
         {% endif %}

         {% if beer_type %}
            <p class=script-font>Beer Type</p>
            <table class="table table-striped">
            <tr>
                <td><b>Name</b></td>
            </tr>
            {% for type in beer_type %}
                <tr>
                    <td><a href="{% url "beers" %}?beer_type={{ type.id }}">{{ type.name }}</a></td>
                </tr>
            {% endfor %}
            </table>
         {% endif %}

         {% if breweries %}
            <p class=script-font>Breweries</p>
            <table class="table table-striped">
            <tr>
                <td><b>Name</b></td>
            </tr>
            {% for brewery in breweries %}
                <tr>
                    <td><a href="{% url "beers" %}?brewery={{ brewery.id }}">{{ brewery.name }}</a></td>
                </tr>
            {% endfor %}
            </table>
         {% endif %}
    
    </div>
</div>

{% include 'beerblog/foot.html' %}