{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}
{% load tools %}

<div class="container">
    <div class="content">

        <p class=script-header>Search</p>

        <form class='visible-phone' name="input" action="/search/" class="form-search" method="GET">
            <input class="span4" type="text" placeholder="Search" name="s" value="{{ search_term }}"></li>
        </form>

         {% if beers %}
            <p class=script-font>Beers</p>
            <table class="table table-striped">
            <tr>
                <td><b>Name</b></td>
                <td><b>Brewery</b></td>
                <td><b>Type</b></td>
                <td><b>ABV</b></td>
                <td><b>Rating</b></td>
            </tr>
            {% for beer in beers %}
                <tr>
                    <td><a href="{% url beer beer.id %}">{{ beer.name }}</a></td>
                    <td><a href="{% url beers %}?brewery={{ beer.brewery.id }}">{{ beer.brewery.name }}</a></td>
                    <td><a href="{% url beers %}?beer_type={{ beer.beer_type.id }}">{{ beer.beer_type.name }}</a></td>
                    <td>{{ beer.alcohol_by_volume }}%</td>
                    <td>{{ beer.overall_score }}</td>
                </tr>
            {% endfor %}
            </table>
         {% endif %}

         {% if beer_type %}
            <p class=script-font>Beer Type</p>
            <table class="table table-striped">
            <tr>
                <td><b>Name</b></td>
            </tr>
            {% for type in beer_type %}
                <tr>
                    <td><a href="{% url beers %}?beer_type={{ type.id }}">{{ type.name }}</a></td>
                </tr>
            {% endfor %}
            </table>
         {% endif %}

         {% if breweries %}
            <p class=script-font>Breweries</p>
            <table class="table table-striped">
            <tr>
                <td><b>Name</b></td>
            </tr>
            {% for brewery in breweries %}
                <tr>
                    <td><a href="{% url beers %}?brewery={{ brewery.id }}">{{ brewery.name }}</a></td>
                </tr>
            {% endfor %}
            </table>
         {% endif %}


         {% if wines %}
            <p class=script-font>Wines</p>
            <table class="table table-striped">
            <tr>
                <td><b>Name</b></td>
                <td><b>Winery</b></td>
                <td><b>Type</b></td>
                <td><b>ABV</b></td>
                <td><b>Rating</b></td>
            </tr>
            {% for wine in wines %}
                <tr>
                    <td><a href="{% url wine wine.id %}">{{ wine.name }}</a></td>
                    <td><a href="{% url wines %}?winery={{ wine.winery.id }}">{{ wine.winery }}</a></td>
                    <td><a href="{% url wines %}?wine_type={{ wine.wine_type.id }}">{{ wine.wine_type.name }}</a></td>
                    <td>{{ wine.alcohol_by_volume }}%</td>
                    <td>{{ wine.overall_score }}</td>
                </tr>
            {% endfor %}
            </table>
         {% endif %}

         {% if wine_type %}
            <p class=script-font>Wine Type</p>
            <table class="table table-striped">
            <tr>
                <td><b>Name</b></td>
            </tr>
            {% for type in wine_type %}
                <tr>
                    <td><a href="{% url wines %}?wine_type={{ type.id }}">{{ type.name }}</a></td>
                </tr>
            {% endfor %}
            </table>
         {% endif %}

         {% if wineries %}
            <p class=script-font>Wineries</p>
            <table class="table table-striped">
            <tr>
                <td><b>Name</b></td>
            </tr>
            {% for winery in wineries %}
                <tr>
                    <td><a href="{% url wines %}?winery={{ winery.id }}">{{ winery.name }}</a></td>
                </tr>
            {% endfor %}
            </table>
         {% endif %}
    
    </div>
</div>

{% include 'beerblog/foot.html' %}