<div id="wine_modal{{ wine.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ wine.name }}</h3>
  </div>
  <div class="modal-body">
    <p><b>Winery:</b> {{ wine.winery }}</p>
    <p><b>Beer Type:</b> {{ wine.beer_type }}</p>
    <p><b>ABV:</b> {{ wine.alcohol_by_volume }}%</p>

    {% if wine.image %}
        <img style='height: 300px;' src='/static/{{ wine.image }}' />
    {% endif %}

    {% if wine.comments %}
        <p><b>Comments:</b></p>
        <p>{{ wine.comments }}</p>
    {% endif %}

    <hr>

    <p><b>Appearance:</b> {{ wine.appearance_score }}</p>
    <p>{{ wine.appearance }}</p><br>

    <p><b>Smell:</b> {{ wine.smell_score }}</p>
    <p>{{ wine.smell }}</p><br>

    <p><b>Taste:</b> {{ wine.taste_score }}</p>
    <p>{{ wine.taste }}</p><br>

    <p><b>Mouthfeel:</b> {{ wine.mouthfeel_score }}</p>
    <p>{{ wine.mouthfeel }}</p><br>

      <p><b>Overall:</b> {{ wine.overall_score }}</p>
    <p>{{ wine.overall }}</p><br>

  </div>
</div>