{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}
{% load tools %}

<div class="container">
    <div class="content">

        <p class=script-header>Wines</p>

        <table class="table table-striped">
        <tr>
            <td><b>Name</b></td>
            <td><b>Brewery</b></td>
            <td><b>Type</b></td>
            <td><b>ABV</b></td>
            <td><b>Rating</b></td>
        </tr>

        {% for wine in wines %}

            <tr>
                <td>{{ wine.name }}</td>
                <td>{{ wine.brewery }}</td>
                <td>{{ wine.beer_type }}</td>
                <td>{{ wine.alcohol_by_volume }}%</td>
                <td>{{ wine.overall_score }}</td>
            </tr>

        {% endfor %}

        </table>

    <p class=pull-left>
        {% if wines.has_previous %}
            <a href='.?page={{ wines.previous_page_number }}{{ request|getNonPageArgs }}'><i class=icon-arrow-left></i></a>
        {% endif %}
    </p>

    <p class=pull-right>
        {% if wines.has_next %}
            <a href='.?page={{ wines.next_page_number }}{{ request|getNonPageArgs }}'><i class=icon-arrow-right></i></a>
        {% endif %}
    </p>
    
    </div>
</div>

{% include 'beerblog/foot.html' %}