{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}
{% load tools %}

<div class="container">
    <div class="content">

        <p class=script-header>Wines</p>

        <table class="table table-striped">
        <tr>
            <td><b>Name</b></td>
            <td class="hidden-phone"><b>Winery</b></td>
            <td class="hidden-phone"><b>Type</b></td>
            <td class="hidden-phone"><b>ABV</b></td>
            <td class="hidden-phone"><b>Rating</b></td>
        </tr>

        {% for wine in wines %}

            <tr>
                <td><a href="{% url wine wine.id %}">{{ wine.name }}</a></td>
                <td class="hidden-phone">{{ wine.winery }}</td>
                <td class="hidden-phone">{{ wine.wine_type }}</td>
                <td class="hidden-phone">{{ wine.alcohol_by_volume }}%</td>
                <td class="hidden-phone">{{ wine.overall_score }}</td>
            </tr>

        {% endfor %}

        </table>

    <p class=pull-left>
        {% if wines.has_previous %}
            <a href='.?page={{ wines.previous_page_number }}{{ request|getNonPageArgs }}'><i class=icon-arrow-left></i></a>
        {% endif %}
    </p>

    <p class=pull-right>
        {% if wines.has_next %}
            <a href='.?page={{ wines.next_page_number }}{{ request|getNonPageArgs }}'><i class=icon-arrow-right></i></a>
        {% endif %}
    </p>
    
    </div>
</div>

{% include 'beerblog/foot.html' %}