{% include 'beerblog/head.html' %}
{% include 'beerblog/menu.html' %}
{% load tools %}

<div class="container">
    <div class="content">

        <p class=script-header>
            <img width='60' height='60' class='img-circle img-polaroid' src='{% gravatar_for_email wine.author.email %}' />
            &nbsp; {{ wine.name }}
        </p>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>Reviewed</b></p>
            </div>
            <div class="span6">{{ wine.created }}</div>
        </div>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>My Rating</b></p>
            </div>
            <div class="span6">{{ wine.rating }}</div>
        </div>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>Winery</b></p>
            </div>
            <div class="span6"><a href="{% url wines %}?winery={{ wine.winery.id }}">{{ wine.winery }}</a></div>
        </div>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>Type</b></p>
            </div>
            <div class="span6"><a href="{% url wines %}?wine_type={{ wine.wine_type.id }}">{{ wine.wine_type.name }}</a></div>
        </div>
        <hr>

        <div class="row">
            <div class="span4">
                <p><b>ABV</b></p>
            </div>
            <div class="span6">{{ wine.alcohol_by_volume }}%</div>
        </div>
        <hr>

        {% if wine.comments %}
            <div class="row">
                <div class="span4">
                    <p><b>Comments</b></p>
                </div>
                <div class="span6">{{ wine.comments }}</div>
            </div>
            <hr>
        {% endif %}

        <div class="row">

           <div class="span4">
                {% if wine.image %}
                    <img class="img-rounded img-polaroid hidden-phone " src='{{ wine.image.url_600x800 }}' />
                    <img class="img-rounded img-polaroid visible-phone" src='{{ wine.image.url_200x200 }}' />
                {% else %}
                    <img class="hidden-phone" src='/static/images/blank_wine.jpeg' />
                {% endif %}
                <hr>
           </div>

            <div class="span6">
                <p><b>Acidity: {{ wine.acidity_score }}</b></p>
                <p>{{ wine.acidity }}</p><hr>

                <p><b>Body: {{ wine.body_score }}</b></p>
                <p>{{ wine.body }}</p><hr>

                <p><b>Sweetness: {{ wine.sweetness_score }}</b></p>
                <p>{{ wine.sweetness }}</p><hr>

                <p><b>Fruit: {{ wine.fruit_score }}</b></p>
                <p>{{ wine.fruit }}</p><hr>

                <p><b>Tannins: {{ wine.tannins_score }}</b></p>
                <p>{{ wine.tannins }}</p>
            </div>

        </div>

    
    </div>
</div>

{% include 'beerblog/foot.html' %}